{% extends  'base.html' %}

{% block content %} 

<!--hero section-->
<div class="hero2">
    <div class="about2">
        <h1>About Me</h1>
    </div>
</div>
<!--about me section-->
<div class="colu">
<div class="colu1">
    <div class="colu2">
    <p>I am a front-end web developer.I can provide clean code and pixel perfect design.
    I also make website more & more interactive with web animations.I can provide clean 
    code and pixel perfect design.I also make website more & more interactive with web 
    animations.A responsive design makes your website more & more accessible to all
     users,regardless of their device.</p>  
    </div>
</div>
</div>

{% endblock %}